.wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex: 1;
    height: calc(100vh - 50px);
    flex-direction: row;
    align-items: stretch;
}

.file-details {
    display: block;
    width: calc(100% - 300px);
}

.Toastify__toast--default.error{
    text-align: center;
    background: #fff6f9;
    color: #913a3a;
}

.Toastify__toast--default.success{
    text-align: center;
    background: #f6fdff;
    color: #1e2391;
}