.login-wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.login-box {
    display: block;
    width: 400px;
    max-width: 100%;
}